body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(256, 256, 256);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  text-align: center;
  font-size: 8rem;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}

.button-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.icon {
  margin-right: 0.5rem;
}

.button-breed {
  height: 8rem;
  width: 16rem;
  background-color: rgb(236, 233, 229);
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(101, 173, 214);
  font-weight: 600;
}

.button-breed:hover {
  border: 0.2rem solid rgb(101, 173, 214);
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}